<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <!-- Session State-->
    <sessionState mode="InProc" cookieless="false" timeout="15"></sessionState>
    
    <!-- Authentication Type-->
    <authentication mode="Forms">
      <forms loginUrl="HomePageBeforeLogin.aspx" defaultUrl="HomePage.aspx">
        <credentials passwordFormat="Clear">      
        </credentials>
      </forms>
    </authentication>      
  
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- Admin Credentials-->
    <add key="Admin1_UserId" value="Admin1@gmail.com"/>
    <add key="Admin1_Password" value="Admin1"/>
    <add key="Admin2_UserId" value="Admin2@gmail.com"/>
    <add key="Admin2_Password" value="Admin2"/>
  </appSettings>
  
  <!-- Database Connection-->
  <connectionStrings>
    <add name="connectionString"
      connectionString="Data Source=localhost;Initial Catalog=onlinebloodbanksystem;user id=sa;password=password-1;" />
  </connectionStrings>

</configuration>
